@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
   url("./resources//Helvetica-Font/Helvetica.ttf") format("truetype");
  font-weight:normal;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img.card-img-top {
  height: 300px;
  width: 550px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.card.bg-success {
  background-color: hsl(180, 8%, 80%);
}
.text-center.card.bg-Dark.border-primary {
  background-color: hsla(198, 26%, 85%, 0.411);
  border-radius: 10px;
}

.text-center.card.bg-Dark.border-primary {
  margin-left: 0px;
  width: 58rem;
  border-color: #c70606;
  border: 2px solid #c70606;
}
strong {
  padding-left: 2px;  
  padding-right: 2px;
}
h5.card-header {
  padding-top: 0.8rem;
}
p.card-text {
  padding-left: 2px;
  padding-right: 2px;
}

header {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color:hsl(180, 8%, 80%) ;
}

footer {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: hsl(180, 8%, 80%);
}